.country-page__wrapper {
  padding: 70px 0 25px;
  border: 1px solid white;
}
.countryPage {
  min-height: 100vh;
  /* padding: 90px 50px 50px 80px; */
  padding: 50px 50px 50px;
  margin: 0 auto;
  max-width: 1200px;
  min-width: 320px;
}
.countryPage__name {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}
.countryPage__main {
  max-width: 900px;
  width: 70%;
  float: left;
  border: 1px solid green;
}
.countryPage__aside {
  padding-top: 100px;
  max-width: 300px;
  width: 30%;
  float: left;
  border: 1px solid red;
}
.countryPage__aside-title {
  text-align: center;
  font-size: 20px;
  padding-bottom: 10px;
}
.map {
  max-width: 900px;
  min-height: 400px;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 920px) {
  .countryPage {
    padding: 20px 10px 10px 10px;
  }
  .countryPage__main {
    width: 100%;
    max-width: 800px;
  }
  .countryPage__aside {
    padding-top: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
  }
}
@media (max-width: 320px) {
  .countryPage__main {
    width: 100%;
    max-width: 320px;
  }
}
